set blink-matching-paren on
set editing-mode vi

# any bindings listed after that point apply to that keymap
set keymap vi-command
bindkey jk vi-cmd-mode

# fixes issue with sbt because jj is not supported on readline
set keymap vi-insert

set show-mode-in-prompt on
